.photos img{
  float:left;
  width:60%;
  padding: 20px 20px 20px 0;

}

.text {
  float:right;
  width: 40%;


  h3 {
  text-decoration:none;
  color:$blue;
  font-family: 'Bree Serif', serif;
  font-size:2em;
  }

  p {
  line-height: 2em;
  }
}
