.photos img{
  padding-bottom: 2em;
  padding-right: 4em;
}

.text {
  float:right;
  width: 40%;

  h2 {
  text-decoration:none;
  color:$blue;
  font-family: 'Bree Serif', serif;
  font-size:2em;
  }
  p {
  line-height: 2em;
  }
}
