.main-image {
  border-bottom:10em solid $lightblue;
  padding-top:0;

}



.main-image img {
  width: 970px;
  margin:0;

}
.info img {
  max-width:175px;
  float:left;
  margin-left:5em;
}

.doctor img {
  max-width:200px;
  float:left;
  margin-left:7em;


}

.connect img {
  max-width: 175px;
  float:left;
  margin-left:8em;


}
