.main {
  border-bottom:2px dashed $grey;

img {
  height:400px;
  width:100%;
}
}



h3 {
  text-decoration:none;
  color:$blue;
  font-family: 'Bree Serif', serif;
  font-size:2em;
}

.abortion-info {
  float:right;

}
.stats{
  float:right;
  font-family: 'Raleway', sans-serif;
  h3 {
    font-family: 'Bree Serif', serif;
    font-size:2em;
  }
  .numbers {
    font-family: 'Bree Serif', serif;
    font-size:2em;
    color:$grey;
  }
}
