.main h2{
  margin:0;


img {
  height:400px;
  width:100%;
  padding-bottom: 10px;
  border-bottom:2px dashed $grey;

}
}
.get-facts {
  float:left;
  width:30%;


  .preggo img {
    width:90%;
    position:relative;
    top:30px;
    left:25px;
  }

  .test img {
    width:90%;
  }

  h3 {
    margin-right:25px;
    border-top: 1.25em solid $lightblue;
    color:$blue;
    font-family: 'Bree Serif', serif;
    font-size:2.25em;
    text-transform:uppercase;
    position:relative;
    bottom:100px;
    z-index:-10;
  }
}

.abortion-info{
  float:left;
  width:33%;


  p {
    font-family: 'Raleway', sans-serif;
    line-height:1.75em;
    font-size:1.05em;
  }
}

.statistics{
  float:right;
  font-family: 'Raleway', sans-serif;
  background: $lightgrey;
  width:30%;
  text-align:center;
  margin-bottom:20px;
  margin-top:10px;
  padding:0px 10px;
  line-height:1.5em;

  h4 {
    font-family: 'Bree Serif', serif;
    font-size:1.5em;
    text-transform:uppercase;
    color:$blue;

  }
  .numbers {
    font-family: 'Bree Serif', serif;
    font-size:3em;
    color:$blue;
    text-align:center;
    padding:0;
    line-height:0px;
  }


}
