.main-nav {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 0.82em;
  word-spacing: 1.5em;
  letter-spacing: .2em;
  text-align:center;
  padding: 1em;
  float:right;


ul {
  list-style-type: none;
  padding: 0;

}

li {
  margin-right: 0em;
  padding: 0 0.5em;
  display: inline;
}


a{
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0;
}
a:hover {
  color:$lightblue;
}

}
