.page-header {
  background-color: #B6D0E2;
  height: 3em;
}

h1{
  position:absolute;
  color:$grey;
  margin: 0;
  padding-left: .5em;
  color: #fff;
}

.main-nav {
  margin: .5em;
  font-family: 'Bree Serif', serif;
  font-size: 0.82em;
  word-spacing: .5em;
  letter-spacing: .2em;
  text-align:right;
  padding: .5em;
  


  ul {
    list-style-type: none;
    padding: 0;

  }

  li {
    margin-right: 0em;
    padding: 0 0.5em;
    display: inline;
  }

  a{
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0;

  }
  a:hover {
    color:$blue;
  }

}
