.page-footer{
  clear:both;
  background-color: $lightgrey;
  height: 3em;
  font-family: 'Bree Serif', serif;
  padding: .5em;
}
.page-footer p {
  text-align:left;
  font-size:.75em;
  display:inline;
}

.social {
  float:right;
  padding-bottom: 2em;
}

  ul {
    list-style-type: none;
    margin-top: 5px;
  }

  li {
    margin-right: 0em;
    padding: 0 0.5em;
    display: inline;
  }

  a {
    color:$lightblue;
  }
