html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  max-width: 1000px;
  background-color: white;
  margin: auto;
  padding: 1em;
}

h1 {
  font-family: 'Bree Serif', serif;
}
p {
  font-family: 'Raleway', sans-serif;

}

// main.scss

@import "variables";
@import "article-block";
@import "page-header";
@import "page-footer";
@import "info-block";
